<html>
	<head>
		<title>Elveron phpBB2 skin [ver. 1.0] created by Ulf Frisk and Michael Shaeffer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	</head>
	<body bgcolor="#FF0000" text="#000000">
		<center><b>Elveron phpBB2 skin created by <a href="http://www.elveron.com">Ulf Frisk</a> and <a href="http://www.noobsupport.com">Michael Shaeffer</a></b></center>
		<center><b>Copyright &copy; Ulf Frisk, Michael Schaeffer 2004</b></center>

		<br/><br/>

		<table cellspacing="0" cellpadding="0" border="0" align="center">
			<tr>
				<td align="center" valign="middle">
					<a href="http://www.elveron.com/" target="_new">
					<img src="images/created_by.gif" width="369" height="280" border="0" alt="Legends of Elveron - The free online strategy game" />
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Unzip and install just like any other phpBB skin. Please<br/>
					note that this skin does not skin the admin pages. The<br/>
					admin pages will be shown in standard subSilver.

					<br/><br/>
					
					If you wish to add your own logo to the forum you should<br/>
					do that by adding it to the image logo_background.gif<br/>
					found in the images folder.

					<br/><br/>

					The skin was originally designed as a greenish medieval<br/>
					skin for the forums in the online web based game found<br/>
					at elveron.com. The result was this skin. Instead of<br/>
					keeping the skin to ourselves we decided to share it<br/>
					with the world!

					<br/><br/>

					<b>Thank you for downloading the Elveron skin.</b>
				</td>
			</tr>
		</table>

		<br/><br/>


		


		<center><b>The Elveron phpBB2 skin is based on the original <a href="http://www.subBlue.com">subSilver Theme</a> for <a href="http://www.phpbb.com">phpBB</a> version 2+ Created by subBlue design.</b></center>
	</body>
</html>